{
  "extends": "stylelint-config-standard",
  "rules": {
    "selector-class-pattern": [
      "^[a-z][a-z0-9_-]+$",
      {
        "message": "Expected class selector to be kebab-case"
      }
    ],
    "no-descending-specificity": null,
    "declaration-block-trailing-semicolon": null,
    "at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["mixin", "extend", "content", "each", "if", "include"]
      }
    ],
    "media-feature-name-no-unknown": [
      true,
      {
        "ignoreMediaFeatureNames": ["min-device-pixel-ratio"]
      }
    ]
  }
}
